#certificates{

padding:80px 10%;

background:#111827;

}



#certificates h2{

text-align:center;

font-size:40px;

color:#f472b6;

}



.certificate-container{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));

gap:25px;

margin-top:40px;

}



.certificate-card{

padding:30px;

background:
linear-gradient(135deg,#667eea,#764ba2);

border-radius:20px;

text-align:center;

font-size:18px;

font-weight:bold;

transition:.3s;

}



.certificate-card:hover{

transform:scale(1.05);

}