#projects{

    padding:80px 10%;

    background:#0f172a;

}


#projects h2{

    text-align:center;

    font-size:42px;

    color:#38bdf8;

    margin-bottom:50px;

}



.projects-container{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(300px,1fr));

    gap:30px;

}



/* Project Card */

.project-card{

    background:
    linear-gradient(145deg,#1e293b,#334155);

    padding:35px;

    border-radius:20px;

    color:white;

    transition:.4s;

    border:1px solid rgba(255,255,255,0.1);

}



.project-card:hover{

    transform:translateY(-12px);

    box-shadow:
    0 15px 35px rgba(56,189,248,.4);

}



/* Title */

.project-card h3{

    color:#facc15;

    font-size:25px;

    margin-bottom:20px;

}



/* Description */

.project-card p{

    color:#e2e8f0;

    line-height:1.7;

    margin-bottom:20px;

}



/* Technology */

.project-card h4{

    color:#38bdf8;

    margin-bottom:10px;

}


.project-card span{

    display:block;

    color:#cbd5e1;

    font-size:15px;

    line-height:1.6;

}



/* Button */

.project-card button{

    margin-top:25px;

    padding:12px 25px;

    border:none;

    border-radius:25px;

    background:#f472b6;

    color:white;

    cursor:pointer;

    font-size:15px;

    transition:.3s;

}



.project-card button:hover{

    background:#ec4899;

    transform:scale(1.05);

}



/* Mobile Responsive */

@media(max-width:768px){

    #projects h2{

        font-size:35px;

    }


    .project-card{

        text-align:center;

    }

}